
@helper RenderSectionStart(string backgroundColorClass = "", bool isFullWidth = false, bool isCentered = false, string className ="")
{
    @:<section class="section is-medium @className @(isFullWidth ? "is-full-width" : "") @RazorHelper.BackgroundColorClass(backgroundColorClass)">
    @:<div class="container">
    @:<div class="columns is-multiline @(isCentered ? "is-centered" : "")">
}

@helper RenderSectionEnd()
{
    @:</div>
    @:</div>
    @:</section>
}

@helper RenderContentSectionStart(string backgroundColorClass = "", bool isFullWidth = false, bool isCentered = false, string className ="")
{
    @:<section class="section @className @(isFullWidth ? "is-full-width" : "") @RazorHelper.BackgroundColorClass(backgroundColorClass)">
    @:<div class="columns is-multiline @(isCentered ? "is-centered" : "")">
}
    
@helper RenderContentSectionEnd()
{
    @:</div>
    @:</section>
}