@inherits Umbraco.Web.Mvc.UmbracoViewPage<BlogListSection>
@using Umbraco.Web.PublishedModels;

@{
    // get the list of blogs
    var blogsNode = new Blog(Model.Blog);
    var blogs = blogsNode.Children.Select(x => new Blogpost(x)).Take((int)Model.ItemsToShow);
    var itemsPerRow = Model.ItemsPerRow?.ToString();
}

@SectionHelper.RenderSectionStart(Model.BackgroundColor.Label)
@Html.Partial($"~/Views/Partials/Nested/Component/TitleComponent.cshtml", new TitleComponent(Model))

@foreach (var blogItem in blogs)
{
    blogItem.ItemsPerRow = itemsPerRow;
    <div class="column @RazorHelper.ColumnClass(itemsPerRow)">
        @Html.Partial($"~/Views/Partials/Nested/Item/BlogItem.cshtml", blogItem)
    </div>
}
@Html.Partial($"~/Views/Partials/Nested/Component/LinkComponent.cshtml", new LinkComponent(Model))
@SectionHelper.RenderSectionEnd()
