@inherits Umbraco.Web.Mvc.UmbracoViewPage<CallToActionSection>
@using Umbraco.Web.PublishedModels
@using U8StarterKit.Web.Extensions


@SectionHelper.RenderSectionStart(Model.BackgroundColor.Label, true)
<div class="columns is-centered has-margin-auto">
    <div class="column has-no-background is-two-thirds has-text-centered">
        @if (Model.Title.HasValue())
        {
            <h2 class="title is-size-3 is-size-1-tablet">@Model.Title</h2>
        }
        @if (Model.Content.HasValue())
        {
            <div class="subtitle is-size-5 is-size-4-tablet">@Model.Content</div>
        }
        @if (Model.Link.HasValue())
        {
            @RazorHelper.RenderFaLink(Model.Link, classList: "button is-link is-medium")
        }
    </div>
</div>
@SectionHelper.RenderSectionEnd()


