@inherits Umbraco.Web.Mvc.UmbracoViewPage<Home>
@using U8StarterKit.Web.Models.Umbraco
@using U8StarterKit.Web.Extensions

<section id="hero" class="hero hero-banner is-medium" style="@(Model.HeroBackgroundImage.HasValue() ? "background-image: url('" + Model.HeroBackgroundImage.Url + "')" :"")">
    <div class="hero-body">
        <div class="container">
            <div class="hero-banner-content">
                <header class="block">
                    <h3 class="title">@Model.HeroHeader</h3>
                </header>
                <div class="block is-size-5">
                    <p>@Model.HeroDescription</p>
                </div>
                @if (Model.HeroCtalink != null)
                {
                    <div class="block hero-bannerbuttons">
                        <div class="buttons">
                            <a class="button is-mainbutton is-large" href="@Model.HeroCtalink.Url" target="_blank" rel="nofollow">
                                <span>
                                    <strong>@Model.HeroCtacaption</strong>
                                </span>
                            </a>
                        </div>
                        @if (Model.HeroCtasublink.HasValue())
                        {
                            <div>
                                @Model.HeroSublinkBeforeText
                                <a href="@Model.HeroCtasublink.Url" target="_blank" class="is-info" rel="nofollow">
                                    @Model.HeroCtasublinkCaption
                                </a>
                            </div>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
</section>