@inherits UmbracoViewPage<Blogpost>
@using U8StarterKit.Web.Models.Umbraco
@using U8StarterKit.Web.Extensions
@{
    Layout = "master.cshtml";
}

<section id="hero" class="image has-spacing image is-3by1">
    @if (Model.PostImage.HasValue())
    {
        <img src="@Model.PostImage.Url" class="is-background"/>
    }
</section>
<section class="hero is-dark">
    <div class="hero-body">
        <div class="container">
            <div class="column is-8-tablet is-offset-2-tablet is-paddingless">
                <h1 class="title is-2">@Model.HeaderTitle</h1>
                <h2 class="subtitle is-4">@Model.CreateDate.ToShortDateString()</h2>
                @if (Model.HeaderSubtitle.HasValue())
                {
                    <p class="is-size-4">@Model.HeaderSubtitle</p>
                }
            </div>
        </div>
    </div>
</section>
<section class="section has-spacing section-gray">
    <div class="container">
        <div class="columns">
            <div class="column is-large is-8-tablet is-offset-2-tablet">
                <article>
                    <div class="content is-large">
                        @Html.GetGridHtml(Model, "bodyText", "bulma-fluid")
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>