@inherits UmbracoViewPage<ContentPage>
@using U8StarterKit.Web.Models.Umbraco
@{
    Layout = "master.cshtml";
}
@Html.Partial("~/Views/Partials/SectionHeader.cshtml", new U8StarterKit.Web.Models.Umbraco.HeaderSection(Model))
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-one-quarter-tablet">
                <nav class="panel">
                    <p class="panel-heading">
                        <a class="title is-link is-5" href="@(Model.Level == 2 ? Model.Url : Model.Parent.Url)">@(Model.Level == 2 ? Model.Name : Model.Parent.Name)</a>
                    </p>
                    @Html.Partial("~/Views/Partials/Navigation/SubNavigation.cshtml")
                </nav>
            </div>
            <div class="column is-three-quarter-tablet">
                <div class="card">
                    <div class="card-content">
                        <div class="content">
                            @Html.GetGridHtml(Model, "bodyText", "Bulma-fluid")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>