@inherits UmbracoViewPage<Contact>
@using U8StarterKit.Web.Models.Umbraco
@using U8StarterKit.Web.Extensions
@{
    Layout = "master.cshtml";
    //var coordinates = Model.MapCoordinates.ToString().Split(',');
    //var latitude = coordinates[0];
    //var longitude = coordinates[1];
    //var zoomLevel = coordinates[2];
    //var coordinatesString = longitude + "," + latitude + "," + longitude + "," + latitude;
}
@Html.Partial("~/Views/Partials/SectionHeader.cshtml", new U8StarterKit.Web.Models.Umbraco.HeaderSection(Model))
<section class="section has-spacing section-gray">
    <div class="container">
        <div class="columns is-8 is-variable">
            <div class="column is-half-tablet">
                <div class="content">
                    @if (Model.MapHeader.HasValue())
                    {
                        <h2 class="title">@Model.MapHeader</h2>
                    }
                    @if (Model.MapSubtitle.HasValue())
                    {
                        @Model.MapSubtitle
                    }
                    <p class="buttons">
                        <iframe width="600"
                                height="400"
                                frameborder="0"
                                scrolling="no"
                                marginheight="0"
                                marginwidth="0"
                                src="https://www.openstreetmap.org/export/embed.html?bbox=10.388404726982117,55.40622012982414,10.388404726982117,55.40622012982414&amp;layer=mapnik&amp;marker=55.40622012982414,10.388404726982117,18"
                                style="height:400px; width:100%">

                        </iframe>
                    </p>
                    <p class="buttons">
                        <a class="button is-link" href="#">View Larger Map</a>
                    </p>
                </div>
            </div>
            <div class="column is-half-tablet">
                <div class="card">
                    <div class="card-content">
                        <h2 class="title">@Model.ContactFormHeader</h2>
                        <div class="content">
                            @if (Model.ContactIntro.HasValue())
                            {
                                @Model.ContactIntro
                            }
                            <p class="compat-msg">
                                <em>Umbraco Forms</em> is required to render this form.It's a breeze to install, all you have to do is
                                go to the<em> Umbraco Forms</em> section in the back office and click Install, that's it! :)
                                <br/><br/>
                                <a href="/umbraco/#/forms" class="button button--border--solid">Go to Back Office and install Forms</a>
                                <!-- When Umbraco Forms is installed, uncomment this line -->
                                @* @Umbraco.RenderMacro("renderUmbracoForm", new {FormGuid=Model.ContactForm.ToString()}) *@
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>