@inherits UmbracoViewPage<Contact>
@using U8StarterKit.Web.Models.Umbraco
@using U8StarterKit.Web.Extensions
@{
    Layout = "master.cshtml";
}

@Html.Partial("~/Views/Partials/SectionHeader.cshtml", new U8StarterKit.Web.Models.Umbraco.HeaderSection(Model))
<style>
   
</style>

@if (Model.MapEmbedLink.HasValue())
{
    <section class="section is-paddingless section-gray">
        <div class="container is-fluid is-marginless">
            <div class="columns">
                <div class="column is-paddingless is-full">
                    <div class="iframe-container image is-3by1">
                        <iframe
                            frameborder="0"
                            scrolling="no"
                            marginheight="0"
                            marginwidth="0"
                            src="@Model.MapEmbedLink">
                        </iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="hero section is-light">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <p class="buttons">
                        <a class="button is-outlined is-primary is-medium" href="#">View Larger Map</a>
                        <a class="button is-medium is-primary" href="#">Get Directions</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
}
<section class="section section-gray">
    <div class="container">
        <div class="columns">
            <div class="column is-full">
                <div class="card">
                    <div class="card-content">
                        <h2 class="title">@Model.ContactFormHeader</h2>
                        <div class="content">
                            @if (Model.ContactIntro.HasValue())
                            {
                                @Model.ContactIntro
                            }
                            <p class="compat-msg">
                                <em>Umbraco Forms</em> is required to render this form.It's a breeze to install, all you have to do is
                                go to the<em> Umbraco Forms</em> section in the back office and click Install, that's it! :)
                                <br /><br />
                                <a href="/umbraco/#/forms" class="button button--border--solid">Go to Back Office and install Forms</a>
                                <!-- When Umbraco Forms is installed, uncomment this line -->
                                @* @Umbraco.RenderMacro("renderUmbracoForm", new {FormGuid=Model.ContactForm.ToString()}) *@
                                <br /><br />
                                <br /><br />
                                <br /><br />
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>