@inherits Umbraco.Web.Mvc.UmbracoViewPage<Home>
@using U8StarterKit.Web.Models.Umbraco
@{
    Layout = "master.cshtml";
}

@Html.Partial("~/Views/Partials/HomeHero.cshtml", Model)

<section class="section is-spaced">
    <div class="container">
        <div class="columns is-8 is-variable">
            <div class="column is-two-thirds-tablet">
                @Html.GetGridHtml(Model, "bodyText", "bulma-fluid-home")
            </div>
            <div class="column is-one-third-tablet">
                <div class="tile is-ancestor">
                    <div class="tile is-parent is-vertical">
                       
                        <article class="tile is-child notification is-primary">
                            <p class="title">Sign up</p>
                            <div class="content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis lorem ut libero malesuada feugiat. Donec rutrum congue leo eget malesuada.</p>
                            </div>
                            <div class="field">
                                <label class="label">Name</label>
                                <div class="control">
                                    <input class="input" type="text" placeholder="e.g Alex Smith">
                                </div>
                            </div>

                            <div class="field">
                                <label class="label is-light">Email</label>
                                <div class="control">
                                    <input class="input" type="email" placeholder="e.g. alexsmith@gmail.com">
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <a class="is-link button">Sign up</a>
                                </div>
                            </div>
                        </article>
                        <article class="tile is-child notification is-light">
                            <p class="title">Our services</p>
                            <div class="content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis lorem ut libero malesuada feugiat. Donec rutrum congue leo eget malesuada. Donec rutrum congue leo eget malesuada.</p>

                                <ul class="has-spacing-bottom">
                                    <li>Consectetur adipiscing elit</li>
                                    <li>Nulla quis lorem ut libero malesuada</li>
                                    <li>Donec rutrum congue leo eget</li>
                                    <li>Congue leo eget malesuada</li>
                                </ul>
                                <p>Nulla quis lorem ut libero malesuada feugiat</p>
                                <p>

                                    <a class="is-link button">See all our services</a>
                                </p>
                            </div>
                        </article>
                        <article class="tile is-child notification is-light">
                            <p class="title">Featured Products</p>
                            <div class="content">
                               
                                <p class="image has-spacing image is-3by2">
                                    <img src="/media/662af6ca411a4c93a6c722c4845698e7/00000006000000000000000000000000/16403439029_f500be349b_o.jpg" class="is-background"/>

                                </p>
                                <h4>Lorem ipsum dolor sit amet, consectetur adipiscing</h4>
                                <p><a href="/" class="is-link">Buy $40.00</a></p>
                       
                                <p class="image has-spacing image is-3by2">
                                    <img src="/media/662af6ca411a4c93a6c722c4845698e7/00000006000000000000000000000000/16403439029_f500be349b_o.jpg" class="is-background"/>

                                </p>
                                <h4>Lorem ipsum dolor sit amet, consectetur adipiscing</h4>
                                <p>Buy $40.00</p>
                            
                            </div>
                        </article>
                </div>

            </div>
        </div>
    </div>
</section>
<section class="section hero is-primary is-spaced  hero-footer">
    <div class="container">
        <h2 class="title">@Model.FooterHeader</h2>
        <p class="subtitle">@Model.FooterDescription</p>
        <a class="button is-outlined is-primary is-inverted is-medium" href="@Model.FooterCtalink.Url">
            @Model.FooterCtacaption
        </a>
    </div>
</section>