@inherits UmbracoViewPage<Products>
@using U8StarterKit.Web.Models.Umbraco
@using U8StarterKit.Web.Extensions
@{
    Layout = "master.cshtml";
    var products = Model.Children.Select(x => new Product(x));
}
@Html.Partial("~/Views/Partials/SectionHeader.cshtml", new U8StarterKit.Web.Models.Umbraco.HeaderSection(Model))
@SectionHelper.RenderSectionStart(Model.BackgroundColor?.Label, true)
@if (products.HasValue())
{
    foreach (Product product in products)
    {
        <div class="column @RazorHelper.ColumnClass(Model.ItemsPerRow?.ToString())">
            @Html.Partial("~/Views/Partials/Nested/Item/ProductItem.cshtml", product)
        </div>
    }
}
@SectionHelper.RenderSectionEnd()