@inherits UmbracoViewPage<Product>
@using U8StarterKit.Web.Models.Umbraco
@using U8StarterKit.Web.Extensions
@{
    Layout = "master.cshtml";
}
@Html.Partial("~/Views/Partials/SectionHeader.cshtml", new HeaderSection(Model.Parent))
@Html.Partial("~/Views/Partials/Renderers/RenderSections.cshtml", Model.NestedContentBefore)

<section class="section has-spacing section-gray">
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="image is-5by4">
                    @if (Model.Image.HasValue())
                    {
                        <img class="product-image" src="@Model.Image.Url" />
                    }
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="card-content">
                        <h1 class="title">@Model.ProductName</h1>
                        <div class="content">
                            <p class="is-size-5">@Model.Parent.GetProperty("DefaultCurrency").Value() @Model.Price.ToString("F")</p>

                            @if(Model.Categories.HasValue())
                            {
                                @RazorHelper.RenderCategories(Model.Categories, classList:"is-medium")
                            }
                           
                            @if (Model.FullDescription.HasValue())
                            {
                                @Model.FullDescription
                            }
                            <p class="buttons">
                                <a class="button is-link has-icons-left is-medium" href="#">
                                    <span class="icon">
                                        <i class="fas fa-shopping-cart"></i>
                                    </span>
                                    <span>Add to basket</span>
                                </a>
                            </p>
                            @if (Model.Features.HasValue())
                            {
                                <hr />
                                foreach (var feature in Model.Features)
                                {
                                    <div class="media">
                                        <div class="media-left">
                                            @RazorHelper.RenderFaIcon(feature.Icon)
                                        </div>
                                        <div class="media-content">
                                            <p class="title is-5"> @feature.Feature</p>
                                            <p class="subtitle is-5">@feature.Description</p>
                                        </div>
                                    </div>
                                    if (Model.Features.IndexOf(feature) != Model.Features.Count() - 1)
                                    {
                                        <hr />
                                    }

                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@Html.Partial("~/Views/Partials/Renderers/RenderSections.cshtml", Model.NestedContentAfter)
