@inherits Umbraco.Web.Mvc.UmbracoViewPage<IconComposition>
@using U8StarterKit.Web.Models.Umbraco


<div class="icon-item has-text-centered">
    <div class="is-line-circle">
        @RazorHelper.RenderFaIcon(Model.Icon)
    </div>
    @Html.Partial($"~/Views/Partials/Nested/Component/SectionTitleComponent.cshtml", new TitleComponent(Model))
    <div class="buttons is-centered"> 
        <a href="@Model.Link.Url" target="@Model.Link.Target" class="button is-link">@Model.Link.Name</a>
    </div>
</div>