@inherits Umbraco.Web.Mvc.UmbracoViewPage<LinksListComposition>
@using U8StarterKit.Web.Models.Umbraco
@using U8StarterKit.Web.Extensions

@Html.Partial($"~/Views/Partials/Nested/Component/SectionTitleComponent.cshtml", new TitleComponent(Model))
<div class="content has-no-background">
    <ul class="faLinks">
        @foreach (var link in Model.FaLinks)
        {
            <li>
                @RazorHelper.RenderFaLink(link)
            </li>
        }
    </ul>
</div>

@helper RenderSocialLink(string href, string iconClass, string value)
{
    <a href="@href" class="button has-icons-left">
        <span class="icon">
            <i class="@iconClass"></i>
        </span>
        <span>@value</span>
    </a>
}