@inherits Umbraco.Web.Mvc.UmbracoViewPage<HeroElement>
@using U8StarterKit.Web.Models.Umbraco
@using U8StarterKit.Web.Extensions

<section id="hero" class="hero hero-banner is-medium" style="@(Model.Background.HasValue() ? "background-image: url('" + Model.Background.Url + "')" :"")">
    <div class="hero-body">
        <div class="container">
            <div class="hero-banner-content">
                <header class="block">
                    <h3 class="title">@Model.Title</h3>
                </header>
                <div class="block is-size-5">
                    <p>@Model.Subtitle</p>
                </div>
                @if (Model.PrimaryLink.HasValue())
                {
                    <div class="block hero-bannerbuttons">
                        <div class="buttons">
                            <a class="button is-mainbutton is-large" href="@Model.PrimaryLink.Url" target="@Model.PrimaryLink.Target" rel="nofollow">
                                <span>
                                    <strong>@Model.PrimaryLink.Name</strong>
                                </span>
                            </a>
                        </div>
                        @if (Model.SecondaryLink.HasValue())
                        {
                            <div>
                                @Model.SecondaryLinkBeforeText
                                <a href="@Model.SecondaryLink.Url" target="@Model.SecondaryLink.Target" class="is-info" rel="nofollow">
                                    @Model.SecondaryLink.Name
                                </a>
                            </div>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
</section>